.Main__section_about-me{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    background: #0034ad;
    background: -moz-linear-gradient(top, #0034ad 1%, #e0e0e0 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0034ad), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, #0034ad 1%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #0034ad 1%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #0034ad 1%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #0034ad 1%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0034ad', endColorstr='#e0e0e0', GradientType=0 );
    .arrow-icon{
      font-size:50px;
      color:yellow;
      display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
  }
  
.about-me__container{
    width:600px;
  }
  
  .about-me__title{
    margin:0;
    font-size:40px;
    display:none;
  }
  .about-me__text{
    margin:0;
    padding:40px;
    font-size:40px;
    color:#0033AB;
  }