.App__header {
    background-color: #0033AB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(35px + 2vmin);
    color: white;
    
    text-shadow:
     1px -1px 0 #0033AB, 
    -1px 2px 1px lavender, 
    -2px 4px 1px rgb(58, 110, 230), 
    -3px 6px 1px  lavender, 
    -4px 8px 1px rgb(58, 110, 230), 
    -5px 10px 1px  lavender, 
    -6px 12px 1px rgb(58, 110, 230), 
    -7px 14px 1px  lavender, 
    -8px 16px 1px rgb(58, 110, 230), 
    -9px 18px 1px  lavender, 
    -10px 20px 1px rgb(58, 110, 230);
  }
  
  
  .App_header_arrow{
    height:100px;
    color:white;
    transform:rotate(180deg);
  }