.works__link{ 

  }
  .work__picture-ct{
    border-radius:50%;
    height:250px;
    width:250px;
    border: 2px solid #0034ad; 
    background-size: 100%;
    font-size: 50px; 
    display:flex;
    justify-content:center;
    align-items:center; 
  
  }

.work__description{
  border-radius:50%;
  height:250px;
  width:250px;
  border: 2px solid pink; 
  background-size: 100%;
  font-size: 20px; 
  display:flex;
  justify-content:center;
  align-items:center;
}

  
  

  
  
  
  
  