.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App__header {
  background-color: #0033AB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  color: white;
  
  text-shadow:
   1px -1px 0 #0033AB, 
  -1px 2px 1px lavender, 
  -2px 4px 1px rgb(58, 110, 230), 
  -3px 6px 1px  lavender, 
  -4px 8px 1px rgb(58, 110, 230), 
  -5px 10px 1px  lavender, 
  -6px 12px 1px rgb(58, 110, 230), 
  -7px 14px 1px  lavender, 
  -8px 16px 1px rgb(58, 110, 230), 
  -9px 18px 1px  lavender, 
  -10px 20px 1px rgb(58, 110, 230);
  :hover{
    // color:yellow;
  }
}


.App_header_arrow{
  height:100px;
  color:white;
  transform:rotate(180deg);
}

.App-link {
  color: #09d3ac;
}

//Works__section
.Main__section_works{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.works__link{
  :hover{
    border: 2px solid red;
    background-color:red;
  }
}
.work__picture-ct{
  border-radius:50%;
  height:100px;
  width:100px;
  border: 2px solid #0034ad; 
  background-size: 100%; 
 
}
.work__picture {
  // opacity:0.5;
  width:100%;

  // :hover{
  //   opacity:1;
  // }
}
//About-me Section
.Main__section_about-me{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  background: #0034ad;
  background: -moz-linear-gradient(top, #0034ad 1%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0034ad), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #0034ad 1%, #ffffff 100%);
  background: -o-linear-gradient(top, #0034ad 1%, #ffffff 100%);
  background: -ms-linear-gradient(top, #0034ad 1%, #ffffff 100%);
  background: linear-gradient(to bottom, #0034ad 1%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0034ad', endColorstr='#ffffff', GradientType=0 );
  .arrow-icon{
    font-size:50px;
    color:yellow;
    display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.about-me__container{
  width:600px;
}

.about-me__title{
  margin:0;
  font-size:40px;
  display:none;
}
.about-me__text{
  margin:0;
  padding:40px;
  font-size:40px;
  color:#0033AB;
}
.works__list{  
  margin:0 300px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.App__contact{ 
  position:fixed;
  top:50px;
  right:50px;
}

.contact__icons-list{
  display:flex;
  list-style:none;
  padding:0;  
  font-size:25px;
}

.contact__item{
  border:1.5px solid white;
  border-radius:50%;
  width:40px;
  height:40px;
  display:flex;
  justify-content: center;
  align-items:center;
  margin-left:20px;
  :hover{
    color:yellow;
  }
}

